* {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto Mono", monospace; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

:root {
    --primary-color : #e2e0e0;

    --secondary-color : #a5a5a5;

    --hover-color : #ebebeb44;
} 

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-heading {
    padding: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.content-heading {
    margin-bottom: 10px;
    font-weight: 700;
}

.login-links {
    height: 42px;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-links-anchor {
    width: 100%;
    color: black;
}

.login-links-heading {
    width: 100%;
    text-align: center;
}

.login-links-anchor {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 6px;
}

.login-links-image-google {
    height: 26px;
    position: absolute;
    left: 10px;
}

.login-links-image-apple {
    height: 26px;
    position: absolute;
    left: 8px;
}

.login-links:hover {
    background-color: var(--hover-color);
}

.hor-margin {
    margin: 20px;
    height: 1px;
    width: 100%;
    background-color: var(--primary-color);
}

.login-cred {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email {
    margin-bottom: 8px;
}

.login-cred-heading-email {
    margin-bottom: 8px;
}

.login-cred-input {
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.password {
    margin-bottom: 8px;
}

.password-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.login-cred-heading-password {
    margin: 0;
}

.login-cred-secondary-heading {
    text-decoration: none;
    font-size: 14px;
}

.sign-in-btn {
    width: 100%;
    height: 44px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.sign-in-btn-anchor {
    color: white;
    text-decoration: none;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 10px;
    gap: 4px;
}

.hover-links:hover {
    text-decoration: underline;
    text-decoration-color : var(--secondary-color);
}

.footer {
    font-weight: 400;
    padding: 1rem;
}



