* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --primary-color : #ffffff;
  --secondary-color : #1e90ff; 
  --ternary-color : #f5f5f5;  

  --text-color : #474747;
  --text-secondary-color : #949494;

  --button-hover-secondary : #161616;

  --margin-color : #dfdede;
}


html, body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* NAVBAR-SECTION STARTS */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 140px;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.08);
    background-color: var(--primary-color);
}

.navbar-logo {  
    width: 120px;
}

.navbar-content {
    display: flex;
    gap: 40px;
}

.navbar-links {
    text-decoration: none;
    color: var(--text-color);
}

.navbar-links:hover {
    color: var(--secondary-color);
}

.navbar-hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.hamburger-lines {
    width: 16px;
    height: 2px;
    background-color: var(--text-color);
}

.navbar-hamburger:hover {
    cursor: pointer;
}
/* NAVBAR-SECTION ENDS */

/* HERO-SECTION STARTS */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.hero-img {
    width: 650px;
    margin-top: 80px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.hero-heading {
    font-size: 30px;
    font-weight: 500;
}

.hero-para {
    font-size: 22px;
    margin-top: 10px;
}

.hero-btn {
    margin-top: 30px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.hero-btn:hover {
    background-color: var(--button-hover-secondary);
    cursor: pointer;
}
/* HERO-SECTION ENDS */

/* ABOUT-SECTION STARTS */
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.about-left {
    width: 32%;
}

.about-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}

.about-content-heading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-content-para {
    line-height: 28px;
    margin-bottom: 30px;
}

.about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-right-img {
    height: 600px;
}

.about-right-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about-right-anchor {
    text-decoration: none;
    font-size: 18px;
}

.about-right-anchor:hover {
    color: var(--button-hover-secondary);
    cursor: pointer;
}
/* ABOUT-SECTION ENDS */

/* PRICING-SECTION STARTS */
.pricing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 140px;
}

.pricing-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.pricing-left {
    width: 54%;
}

.pricing-left-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.pricing-left-para {
    margin-bottom: 10px;
    line-height: 30px;
}

.pricing-left-anchor {
    text-decoration: none;
}

.pricing-left-anchor:hover {
    color: var(--button-hover-secondary);
    cursor: pointer;
}

.pricing-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-right-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-right-para {
    font-size: 10px;
}

.pricing-right-img {
    height: 100px;
}
/* PRICING-SECTION ENDS */


/* EDUCATION-SECTION STARTS */
.education-section {
    margin-top: 140px;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-section-content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.education-section-content-right-heading {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
}

.education-section-content-right-para {
    line-height: 28px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.education-section-content-right-anchor {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
}

.education-section-content-right-anchor:hover {
    color: var(--button-hover-secondary);
    cursor: pointer;
}
/* EDUCATION-SECTION ENDS */

/* ACCOUNT-SECTION STARTS */
.account-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.account-heading {
    font-size: 28px;
    font-weight: 480;
    margin-bottom: 20px;
}

.account-para {
    font-size: 18px;
    margin-bottom: 40px;
}

.account-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px 24px;
    border-radius: 2px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.account-btn:hover {
    background-color: var(--button-hover-secondary);
}
/* ACCOUNT-SECTION ENDS */

/* FOOTER-SECTION STARTS */
.footer-section {
    background-color: var(--ternary-color);
    margin-top: 80px;
}

.footer-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content-top {
    width: 80%;
    display: flex;
    align-items: start;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer-left {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.footer-left-logo {
    height: 20px;
    margin-bottom: 20px;
}

.footer-left-contacts {
    margin-top: 16px;
    margin-bottom: 16px;
}

.footer-left-para {
    font-size: 14px;
}

.footer-left-margin {
    height: 1px;
    width: 100%;
    background-color: var(--margin-color);
}

.footer-left-contacts {
    display: flex;
    gap: 20px;
}

.footer-left-contact-logo {
    height: 20px;
}

.footer-right {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: start;
   gap: 40px;
}

.footer-about-right-content-box-heading {
    margin-bottom: 20px;
    font-weight: 500;
}

.footer-about-right-content-box-links {
    display: block;
    text-decoration: none;
    margin-bottom: 14px;
    color: var(--text-color);
}

.footer-about-right-content-box-links:hover {
    color: var(--secondary-color);
}

.footer-content-bottom {
    width: 80%;
    margin-bottom: 20px;
}

.footer-content-bottom-para {
    font-size: 12px;
    margin-bottom: 14px;
    color: var(--text-secondary-color);
}

.footer-content-bottom-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.footer-content-bottom-links-anchor {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-secondary-color);
}

.footer-content-bottom-links-anchor:hover {
    color: var(--secondary-color);
}

.references {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
}
/* FOOTER-SECTION ENDS */